.gauge-base {
  opacity: 0.1;
}

.gauge-arc {
  fill: none;
  animation-delay: 250ms;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 100px 60px;
  animation: load-gauge 1s ease forwards;
}

.guage-text {
  font-size: 40px;
  font-family: monospace;
  text-align: center;
}

.guage-red {
  color: #ff4e42;
  fill: #ff4e42;
  stroke: #ff4e42;
}
.guage-orange {
  color: #ffa400;
  fill: #ffa400;
  stroke: #ffa400;
}
.guage-green {
  color: #0cce6b;
  fill: #0cce6b;
  stroke: #0cce6b;
}
.guage-undefined {
  color: #5c5c5c;
  fill: #5c5c5c;
  stroke: #5c5c5c;
}

.guage-title {
  stroke: none;
  font-size: 26px;
  line-height: 26px;
  font-family: Roboto, Halvetica, Arial, sans-serif;
}
.metric.guage-title {
  font-family: "Courier New", Courier, monospace;
}
.guage-title {
  color: #737373;
  fill: #737373;
}

@keyframes load-gauge {
  from {
    stroke-dasharray: 0 352.858;
  }
}
.lh-gauge--pwa__disc {
  fill: #e0e0e0;
}
.lh-gauge--pwa__logo {
  position: relative;
  fill: #b0b0b0;
}
.lh-gauge--pwa__invisible {
  display: none;
}
.lh-gauge--pwa__visible {
  display: inline;
}
.guage-invisible {
  display: none;
}
.lh-gauge--pwa__logo--primary-color {
  fill: #304ffe;
}
.lh-gauge--pwa__logo--secondary-color {
  fill: #3d3d3d;
}
#svg_2 {
  stroke: #616161;
}
